<div jstcache="3398" jsinstance="*0" class="uyb8Gf" jsan="7.uyb8Gf"><div jstcache="3399"><div jstcache="3450" style="display:none">…</div><div jstcache="3451" jsaction="jsl._" class="msg5687360447002565861 F3hlO" jsan="7.msg5687360447002565861,7.F3hlO,22.jsaction"><u></u>

  <div class="m_5687360447002565861half-padding" style="margin:0;padding:0">

    <table class="m_5687360447002565861wrapper" style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#212121" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr><td>
      <div role="banner">
        <div class="m_5687360447002565861preheader" style="Margin:0 auto;max-width:560px;min-width:280px;width:280px;width:calc(28000% - 167440px)">
          <div style="border-collapse:collapse;display:table;width:100%">

            <div class="m_5687360447002565861snippet" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:140px;width:140px;width:calc(14000% - 78120px);padding:10px 0 5px 0;color:#5c6266;font-family:Roboto,Tahoma,sans-serif">

            </div>

            <div class="m_5687360447002565861webversion" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:139px;width:139px;width:calc(14100% - 78680px);padding:10px 0 5px 0;text-align:right;color:#5c6266;font-family:Roboto,Tahoma,sans-serif">

            </div>

          </div>
        </div>
        <div class="m_5687360447002565861header" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)" id="m_5687360447002565861emb-email-header-container">

          <div class="m_5687360447002565861logo m_5687360447002565861emb-logo-margin-box" style="font-size:26px;line-height:32px;Margin-top:35px;Margin-bottom:35px;color:#c3ced9;font-family:Roboto,Tahoma,sans-serif;Margin-left:20px;Margin-right:20px" align="center">
            <div class="m_5687360447002565861logo-center" align="center" id="m_5687360447002565861emb-email-header"><a style="text-decoration:none;color:#c3ced9" href="https://lartec.cmail20.com/t/j-i-njllhdt-l-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://lartec.cmail20.com/t/j-i-njllhdt-l-r/&amp;source=gmail&amp;ust=1530077057811000&amp;usg=AFQjCNE6aPD17-pe404KxwO516dpxDaGMw"><img style="display:block;height:auto;width:100%;border:0;max-width:111px" src="https://ci5.googleusercontent.com/proxy/TeOHCSz_hKkNgXp5zlIq85OPkTX3dZdsKkeO1lGojXk6amjVETBuAlqjbqtFh5lgqWxv4ZvkCt7mP9UtvmvJMLXbZ1CCzvBnBXOl1WAxjPLnOQZ3B0Y_qBX64gpG69at=s0-d-e1-ft#http://i1.cmail20.com/ei/j/85/F8D/A8A/152412/csfinal/lartec_icon_texto.png" alt="LARTEC" width="111"></a></div>
          </div>

        </div>
      </div>
      <div role="section">
      <div style="background-color:#212121;background-position:0px 0px;background-image:url(https://ci6.googleusercontent.com/proxy/kN9OSzJoA0Q7zm20yX58h9yMhjiZBuZunJhaOSqM6F30lljMvCfUkC2SJGZS8KW_8sNAdzHBjMdeGD06yW_EFQ3_1n_JlRKHjbJxGGNbNwK7YkS1Q2WoRoLzK9tT4bfzp0XVI0yxsscX=s0-d-e1-ft#http://i1.cmail20.com/ei/j/85/F8D/A8A/152412/csfinal/background_RASTREO_mediano.png);background-repeat:repeat">
        <div class="m_5687360447002565861layout m_5687360447002565861one-col" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
          <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%">

            <div class="m_5687360447002565861column" style="max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif">

              <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px">
      <div style="line-height:30px;font-size:1px">&nbsp;</div>
    </div>

              <div style="Margin-left:20px;Margin-right:20px">
      <div>
        <p class="m_5687360447002565861size-26" style="Margin-top:0;Margin-bottom:20px;font-size:22px;line-height:31px;text-align:center" lang="x-size-26"><span style="color:#ffffff"><strong>Gracias por elegirnos</strong></span></p>
      </div>
    </div>

              <div style="Margin-left:20px;Margin-right:20px">
      <div>
        <p style="Margin-top:0;Margin-bottom:20px;line-height:24px;text-align:center"><font color="#ffffff"><span style="font-size:16px">Para completar satisfactoriamente su&nbsp;suscripción al servicio se requiere de la confirmación de su cuenta de email</span></font></p>
      </div>
    </div>
    <div style="Margin-left:20px;Margin-right:20px">
      <div class="m_5687360447002565861btn m_5687360447002565861btn--ghost m_5687360447002565861btn--large" style="Margin-bottom:20px;text-align:center">
        <u></u>
          <a style="border-radius:4px;display:inline-block;font-size:14px;font-weight:bold;line-height:24px;padding:12px 24px;text-align:center;text-decoration:none!important;color:#ffffff!important;border:1px solid #fff;font-family:Roboto,Tahoma,sans-serif" href="<%= text %>" target="_blank">VERIFICAR EMAIL</a>
        <u></u>
      </div>
    </div>
    <div style="Margin-left:20px;Margin-right:20px">
      <div>
        <p style="Margin-top:0;Margin-bottom:20px;text-align:center"><span style="color:#A6B0B3"><%= text %></span></p>
      </div>
    </div>
    <div style="Margin-left:20px;Margin-right:20px;Margin-bottom:12px">
      <div style="line-height:30px;font-size:1px">&nbsp;</div>
    </div>

  </div>

</div>
</div>
</div>

<div class="m_5687360447002565861layout m_5687360447002565861one-col m_5687360447002565861fixed-width" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
  <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#212121">
    <div class="m_5687360447002565861column" style="text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">
      <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px;Margin-bottom:12px">
        <div style="line-height:20px;font-size:1px">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<div class="m_5687360447002565861layout m_5687360447002565861three-col m_5687360447002565861fixed-width" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
  <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#212121">
    <div class="m_5687360447002565861column" style="text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif;Float:left;max-width:320px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
      <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px;Margin-bottom:12px">
      <div>
        <p class="m_5687360447002565861size-16" style="Margin-top:0;Margin-bottom:0;font-size:16px;line-height:24px" lang="x-size-16"><strong>Dirección</strong></p><p class="m_5687360447002565861size-12" style="Margin-top:20px;Margin-bottom:0;font-size:12px;line-height:19px" lang="x-size-12">B° Matadero, El Chacho N° 56<br>
          La Rioja, Capital<br>
          CP: 5300</p>
      </div>
    </div>
  </div>
  <div class="m_5687360447002565861column" style="text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif;Float:left;max-width:320px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
    <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px;Margin-bottom:12px">
      <div>
        <p class="m_5687360447002565861size-16" style="Margin-top:0;Margin-bottom:0;font-size:16px;line-height:24px" lang="x-size-16"><strong>Contactos</strong></p><p class="m_5687360447002565861size-12" style="Margin-top:20px;Margin-bottom:0;font-size:12px;line-height:19px" lang="x-size-12">Email: <a href="mailto:info@lartec.com.ar" target="_blank">info@lartec.com.ar</a><br>
          Tel: <a href="tel:+54%209%20380%20430-0102" value="+5493804300102" target="_blank">+54 9 380 4300102</a></p>
      </div>
    </div>
  </div>
  <div class="m_5687360447002565861column" style="text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif;Float:left;max-width:320px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
    <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px;Margin-bottom:12px">
      <div>
        <p class="m_5687360447002565861size-16" style="Margin-top:0;Margin-bottom:0;font-size:16px;line-height:24px" lang="x-size-16"><strong>Links</strong></p><p class="m_5687360447002565861size-12" style="Margin-top:20px;Margin-bottom:0;font-size:12px;line-height:19px" lang="x-size-12">Plataforma<br>
          Networks</p>
      </div>
    </div>
  </div>
</div>
</div>
<div style="line-height:20px;font-size:20px">&nbsp;</div>
  <div style="background-color:#2e2e2e">
    <div class="m_5687360447002565861layout m_5687360447002565861one-col" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
      <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%">
        <div class="m_5687360447002565861column" style="max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#a6b0b3;font-size:14px;line-height:21px;font-family:Roboto,Tahoma,sans-serif">
          <div style="Margin-left:20px;Margin-right:20px;Margin-top:12px;Margin-bottom:12px">
            <div style="line-height:10px;font-size:1px">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="line-height:20px;font-size:20px">&nbsp;</div>
    <div role="contentinfo">
      <div class="m_5687360447002565861layout m_5687360447002565861email-footer" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%">
          <div class="m_5687360447002565861column m_5687360447002565861wide" style="text-align:left;font-size:12px;line-height:19px;color:#5c6266;font-family:Roboto,Tahoma,sans-serif;Float:left;max-width:400px;min-width:320px;width:320px;width:calc(8000% - 47600px)">
            <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">
              <div style="font-size:12px;line-height:19px">
                <div>LARTEC</div>
              </div>
              <div style="font-size:12px;line-height:19px;Margin-top:18px">
                <div>Este mensaje y todos los archivos adjuntos a el son para uso exclusivo del destinatario y pueden contener informacion confidencial o propietaria, cuya divulgacion es sancionada por ley.<br>
                    Si usted recibió este mensaje erróneamente, por favor notifiquenos respondiendo al remitente, borre el mensaje original y destruya las copias (impresas o grabadas en cualquier medio magnetico) que pueda haber realizado del mismo.&nbsp;La publicación, uso, copia e impresion total o parcial de este mensaje o documentos adjuntos queda prohibida.</div>
              </div>
            </div>
          </div>
          <div class="m_5687360447002565861column m_5687360447002565861narrow" style="text-align:left;font-size:12px;line-height:19px;color:#5c6266;font-family:Roboto,Tahoma,sans-serif;Float:left;max-width:320px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
            <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">
            </div>
          </div>
        </div>
      </div>
      <div class="m_5687360447002565861layout m_5687360447002565861one-col m_5687360447002565861email-footer" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_5687360447002565861layout__inner" style="border-collapse:collapse;display:table;width:100%">
          <div class="m_5687360447002565861column" style="text-align:left;font-size:12px;line-height:19px;color:#5c6266;font-family:Roboto,Tahoma,sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">
            <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">
              <div style="font-size:12px;line-height:19px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="line-height:40px;font-size:40px">&nbsp;</div>
    </div></td></tr></tbody></table>
    <img style="overflow:hidden;display:block!important;height:1px!important;width:1px!important;border:0!important;margin:0!important;padding:0!important" src="https://ci6.googleusercontent.com/proxy/kdoMNYQ49gBGBqo8xniHBnB47EW7tp8PywGs8q9lwa1nhk9tsJHzxJCBO51syh4L1w5dNCYuCGMO1CU7TPF2fdMhQCcvYg=s0-d-e1-ft#https://lartec.cmail20.com/t/j-o-njllhdt-l/o.gif" width="1" height="1" border="0" alt="">
</div>
</div></div><div jstcache="3400" style="display:none"></div></div>
